<!DOCTYPE html>
<html>
<head>
  <title>Gitator</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
  <% if @output["error"] %>
  	Error : <%= @output["error"] %>
  	<br/>Try after some time...
  	<form><input type=button value="Refresh"onClick="window.location.reload()"></form>
  <% else %>
  <br/>Suggestions : <%= @output.to_json %>
  <% end %>
</body>
</html>

