<!DOCTYPE html>
<html>
<head>
  <title>Gitator - Find relevent repos/users based on your GitHub Profile!</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="index.css" />
</head>
<body>
  <a href="https://github.com/prat0318/gitator"><img id="ribbon" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
  <div id="wrap">
	  <div class="container">
		<div class="page-header">
		  <h1><a href="/">Gitator</a><small> Find awesome repos which best suit your profile!
		  </small></h1>
		</div>
    <img src="not_found.jpg"></img>
    </div>
  </div>
</body>
