.loading {
    display: block;
    background: url('spinner.gif') no-repeat center;
    height: 30px;
    margin: 0 auto;
}

.height-120 {
	height: 120px;
	text-align: center;
	font-size: 200%;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #EBF1F5;
}